<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.POI9"
    versionCode = "220"       
    version   = "2.2.0">

   
<name>POI9</name>

<description>
Points of Interest Walk around Knaresborough
</description>

<author href="https://build.phonegap.com" email="mail@taistril.com">
taistril
</author>

 <preference name="permissions"                value="none"/>
 
     <!-- Customize your app and platform with the preference element. -->
     <!--
     <preference name="phonegap-version"           value="3.7.0" />      
     -->   
     <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
     <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
     <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
     <preference name="webviewbounce"              value="true" />           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
     <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
     <preference name="stay-in-webview"            value="false" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
     <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
     <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
     <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
     <preference name="show-splash-screen-spinner" value="true" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
     <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
     <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
     <preference name="android-minSdkVersion"      value="7" />              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
     <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
 <!--    <preference name="SplashScreen"               value="splash" />  -->




    <!-- Plugins can also be added here. -->
    <!--
        <gap:plugin name="Example" />
        A list of available plugins are available at https://build.phonegap.com/docs/plugins
    -->
    
        <gap:plugin name="cordova-plugin-splashscreen" source="npm" />   

        
        
<!-- Icons -->

<icon src="icon.png" />
<icon src="icons/ios/icon.png" platform="ios" width="57" height="57" />
<icon src="icons/ios/icon-72.png" platform="ios" width="72" height="72" />
<icon src="icons/ios/icon_at_2x.png" platform="ios" width="114" height="114" />
<!-- iPad -->
<icon src="icons/ios/icon-72@2x.png" platform="ios" width="144" height="144" />
<!-- iPhone Spotlight and Settings Icon -->
<icon src="icons/ios/icon-small.png" platform="ios" width="29" height="29" />
<icon src="icons/ios/icon-small@2x.png" platform="ios" width="58" height="58" />
<!-- iPad Spotlight and Settings Icon -->
<icon src="icons/ios/icon-50.png" platform="ios" width="50" height="50" />
<icon src="icons/ios/icon-50@2x.png" platform="ios" width="100" height="100" />
<icon src="icons/android/ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
<icon src="icons/android/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
<icon src="icons/android/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
<icon src="icons/android/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
<icon src="icons/android/xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
<icon src="icons/android/xxxhdpi.png" gap:platform="android" gap:qualifier="xxxhdpi" />
<icon src="icons/bb/icon.png" gap:platform="blackberry" />
<icon src="icons/bb/icon_hover.png" gap:platform="blackberry" gap:state="hover"/>
<icon src="icons/webos/icon-64.png" gap:platform="webos" />
<icon src="icons/webos/miniicon.png" gap:platform="webos" gap:role="mini" />
<icon src="icons/winphone/icon.png" gap:platform="winphone" />
<icon src="icons/winphone/tileicon.png" gap:platform="winphone" gap:role="background" />
<icon src="icons/winphone/Square44x44Logo.scale-100.png" platform="winphone" width="44" height="44" />
<icon src="icons/winphone/Square44x44Logo.scale-240.png" platform="winphone" width="106" height="106"  />
<icon src="icons/winphone/Square150x150Logo.scale-100.png" platform="winphone" width="150" height="150" />
<icon src="icons/winphone/Square150x150Logo.scale-240.png" platform="winphone" width="360" height="360"  />
<icon src="icons/winphone/Square71x71Logo.scale-100.png" platform="winphone" width="71" height="71"  />
<icon src="icons/winphone/Square71x71Logo.scale-240.png" platform="winphone" width="170" height="170"  />
<icon src="icons/winphone/Wide310x150Logo.scale-100.png" platform="winphone" width="310" height="150"  />
<icon src="icons/winphone/Wide310x150Logo.scale-240.png" platform="winphone" width="744" height="360"  />


<!-- Splash Screens -->

<!-- The default splash must be named splash.png and must reside in the root of your application folder.-->
<!-- <splash src="splash.png" /> -->

<splash src="splash.png" />

    <!-- you can use any density that exists in the Android project -->
    <splash src="res/screen/android/splash-land-hdpi.png" platform="android" density="land-hdpi"/>
    <splash src="res/screen/android/splash-land-ldpi.png" platform="android" density="land-ldpi"/>
    <splash src="res/screen/android/splash-land-mdpi.png" platform="android" density="land-mdpi"/>
    <splash src="res/screen/android/splash-land-xhdpi.png" platform="android" density="land-xhdpi"/>

    <splash src="res/screen/android/splash-port-hdpi.png" platform="android" density="hdpi"/>
    <splash src="res/screen/android/splash-port-ldpi.png" platform="android" density="ldpi"/>
    <splash src="res/screen/android/splash-port-mdpi.png" platform="android" density="mdpi"/>
    <splash src="res/screen/android/splash-port-xhdpi.png" platform="android" density="xhdpi"/>



    <!-- images are determined by width and height. The following are supported -->
    <splash src="res/screen/ios/Default.png" platform="ios" width="320" height="480"/>
    <splash src="res/screen/ios/Default@2x.png" platform="ios" width="640" height="960"/>
    <splash src="res/screen/ios/Default-Portrait.png" platform="ios" width="768" height="1024"/>
    <splash src="res/screen/ios/Default-Portrait@2x.png" platform="ios" width="1536" height="2048"/>
    <splash src="res/screen/ios/Default-Landscape.png" platform="ios" width="1024" height="768"/>
    <splash src="res/screen/ios/Default-Landscape@2x.png" platform="ios" width="2048" height="1536"/>
    <splash src="res/screen/ios/Default-568h@2x.png" platform="ios" width="640" height="1136"/>
    <splash src="res/screen/ios/Default-667h@2x.png" platform="ios" width="750" height="1334"/>
    <splash src="res/screen/ios/Default-Portrait-736h@3x.png" platform="ios" width="1242" height="2208"/>
    <splash src="res/screen/ios/Default-Landscape-736h@3x.png" platform="ios" width="2208" height="1242"/>



    <!-- images are determined by width and height. The following are supported -->
    <splash src="res/screen/winphone/splashscreen.jpg" platform="winphone" width="620" height="300"/>
    <splash src="res/screen/winphone/splashscreenphone.jpg" platform="winphone" width="1152" height="1920"/>

<preference name="SplashScreenDelay" value="4000" />

</widget>
